<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{% block titulo %}Gestão de Processos{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@600;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

{% block corpo %}{% endblock %}

{% block scripts_extra %}{% endblock %}
  <script src="{{ url_for('static', filename='js/sessao.js') }}"></script>
</body>
</html>